<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Weather app that provides temperature, humidity, and wind speed for any location." />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/images/favico.png" type="image/x-icon" />
  <title>Weather App</title>
</head>
<body>
  <div>
    <div class="heading"><h1>Weather App</h1></div>
    <div class="container">
      <div class="search">
        <input type="text" placeholder="Enter the place" id="search-box" />
        <button id="searchicon">
          <img src="/images/search.png" alt="search" width="20px">
        </button>
      </div>
      <div class="picture">
        <img src="<%= weather.icon %>" alt="weather-picture" id="picture" width="225px">
      </div>
      <div class="info">
        <h1 id="city"><%= weather.city %></h1>
        <h2 id="byline"><%= weather.byline %></h2>
        <h3 id="temp"><%= weather.temperature %></h3>
      </div>
      <div class="others">
        <div class="humidity oc">
          <img src="/images/humidity.png" alt="humidity" width="80px">
          <div>
            <h3>Humidity</h3>
            <h4 id="humid"><%= weather.humidity %></h4>
          </div>
        </div>
        <div class="wind oc">
          <img src="/images/wind.png" alt="wind" width="100px">
          <div>
            <h3>Wind Speed</h3>
            <h4 id="speed"><%= weather.windSpeed %></h4>
          </div>
        </div>
      </div>
      <button id="location">Use Current Location</button>
    </div>
  </div>
  <script src="/js/weather.js" type="module"></script>
</body>
</html>